@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Robert Wolniewicz</strong>
    <br />
    Programista .NET<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:robert_wol@wp.pl">robert_wol@wp.pl</a><br />
    <strong>Telefon:</strong> 502574837
</address>